/*Navbar Styling*/

.navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 15px;
    background-color: #4F8F77;
}

.navbarContainer input[type="text"] {
    padding: 5px;
    font-size: 16px;
    width: 270px;
    border-radius: 50px; /* Make the sides rounded */
    border: 1px solid #ccc; /* Optional: Add a border */
}

.navbarComponent {
    margin: 0 10px;
}

/*Modal Styling*/

.modal-dialog {
    max-width: 400px;
}
.modal-body {                /* to put labels and inputs in the center of the modal */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-container{
	border-radius: 8px;
}
.form-container	h4 {
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.form-container input {
    width: 95%;
    padding: 5px; 
    margin-bottom: 5px;
    border: 1px solid #ccc;
	border-radius: 4px;
}

span {
    font-size: 0.85em; /* Smaller font size */
}


/*Headers (h1,h2,h3) Styling*/

h1 {
  letter-spacing: 0.5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 28px;
  text-align: center;
}
.courseNotFoundHeader{
	margin-top: 250px;
}

h2 {
  letter-spacing: 0.5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
}

h3 {
  margin-top: 40px;
  margin-bottom: 100px;
  font-size: 15px;
  margin-left: 20px;
}


/*Cards Styling*/

.module-quiz-card {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ddd;
}

.module-quiz-card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 7px; 
    background-color: #f2f2f2;
}
.module-quiz-card .card-title {
    font-size: 1.2rem;
}

.module-quiz-card .card-text {
    font-size: 0.875rem;
    margin-bottom: auto; 
}

#moduleCards .col {
    padding: 5px; 
}

#quizCards .col {
    padding: 5px; 
}

.module-quiz-card .card-body h6 {
    font-size: 0.8rem;
}

.module-quiz-card .card-body a{
	text-decoration: none;
	color: black;
}

.module-quiz-card .card-body a:hover {
	cursor:default;
}

.module-quiz-card .deleteEditButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 7px; /* Space between text and buttons */
}

.module-quiz-card .deleteEditButtons button {
    width: 45%; /* Adjust button width */
    margin: 0; 
    font-size: 0.850rem; /* Adjust font size for buttons */
}

.container {
    padding-bottom: 50px;
}

/*Add Edit module quiz Buttons Colour*/

.addEditBtns{
	border:none;
	background-color: #3F725F;
}

.addEditBtns:hover{
	background-color: #34604F;
}

/*Get certif button styling*/

#getCertifBtn{
	border:none;
	background-color: #4F8F77;
	position: relative;
    top: 20px; 
    margin-left: 20px;
}
#getCertifBtn:hover{
	background-color: #3F725F;
}

/*Previous button where course is not found becomes hard to find*/

.prvBtn{
	background-color: #4F8F77;
    color: #4F8F77;
    border: none; 
    opacity: 0.5;
}

.prvBtn:hover{
	cursor:default;
}

