/*Navbar Styling*/

.navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 15px;
    background-color: #4F8F77;
}

.navbarComponent {
    margin: 0 10px;
}

/*Headings Styling*/

h1 {
  text-transform: uppercase;
  letter-spacing: 0.5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 28px;
  text-align: center;
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
}

h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  text-align: center;
}

/*Btns Styling*/

.btnsGroup{
	display: flex;
	justify-content: center;
	margin-top: 40px;
	gap: 30px;
}

/*Fail Quiz Container Styling*/

.failQuiz{
	margin-top: 150px;
}

/*Laugh Button Styling (Changing its colour)*/

.laughBtn{
	background-color: #4F8F77;
}

.laughBtn:hover{
	background-color: #3F725F;
}


/*Jokes Styling*/

.joke{
	float: left;
	background: #4B412E;
	border-radius: 8px;
	padding: 1em 2em;
	width: 10em;
	margin: 0.8em;
	color: #fff;
	margin-left:60px;
	margin-top: 30px;
}










